{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}
{% block extrahead %}
    {{ block.super }}
    <style>
        .disabled-link {
            pointer-events: none;
            color: #aaa !important; /* Hacer el color más claro para simular estar deshabilitado */
            cursor: default !important;
        }
    </style>
{% endblock %}
{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="evaluar/" {% if puede_evaluar %}class="button"{% else %}class="button disabled-link"{% endif %}>Evaluar</a>
</li>
<li>
    <a href="generar_informe/" {% if puede_generar_informe %}class="button"{% else %}class="button disabled-link"{% endif %}>Generar informe</a>
</li>
{% endblock %}
